<div [ngStyle]="{
        'padding': '2rem'
    }">
    <h1>Bienvenido a {{title}}</h1>
    <p>{{descripcion}}</p>

    <!-- <button (click)="ocultarVideoJuego(false)" *ngIf="mostrarVideoJuego">Ocultar Modulo VideoJuegos</button>
    <button (click)="ocultarVideoJuego(true)" *ngIf="!mostrarVideoJuego">Mostrar Modulo VideoJuegos</button>

    <video-juego *ngIf="mostrarVideoJuego"></video-juego>
    <hr /> -->
    <app-zapatillas></app-zapatillas>

    <!-- <hr />

    <app-cursos></app-cursos> -->
</div>
