<div [ngStyle]="{
        'padding': '2rem'
    }">
    <h1>Bienvenido a {{title}}</h1>
    <p>{{descripcion}}</p>

    <nav>
        <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a> &nbsp;
        <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>&nbsp;
        <a [routerLink]="['/video-juegos']" [routerLinkActive]="['active']">Video Juegos</a>&nbsp;
        <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>&nbsp;
        <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo</a>&nbsp;
    </nav>

    <router-outlet></router-outlet>

</div>
